# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

/xmlrpc.php
wp-config.php
/wp-content/uploads/
*.log
/.htaccess
/.private/*